<%- include("./partials/header") %>
    <div class="main">
    <div class="title cell">
        <h1>Are you a Doggologist?</h1>
    </div>

    <div class="dog cell">
        <h3>Please title this creature:</h3>
        <img src="puppers.jpeg" alt="cthulhuMe.jpg">
        <form action="">
            <div class="text">
            <input type="radio" name="doggo1" id="">
            <label for="">Doge</label>
        
            <input type="radio" name="doggo1" id="">
            <label for="">Doggo</label>
            
            <input type="radio" name="doggo1" id="">
            <label for="">Puppers</label>
            
            <input type="radio" name="doggo1" id="">
            <label for="">Sub-woofer</label>
            
            <input type="radio" name="doggo1" id="">
            <label for="">Moon-Moon</label>

            <div>
                <button type="submit" name="doggo1">Submit</button>
              </div>
        </div>
        </form>
    </div>
    <!-- <div class="dog cell">
            <h3>Please title this creature:</h3>
    </div>
    <div class="dog cell">
            <h3>Please title this creature:</h3>
    </div>
    <div class="dog cell">
            <h3>Please title this creature:</h3>
    </div> -->
    </div>
<%- include("./partials/footer") %>