<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doggologist Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <style>
        body{
            background-color:cornflowerblue;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }
        .main{
            display: grid;
            height: 100%vp;
            grid-gap: 1em;
            grid-template-rows: repeat(5, 20%);
            grid-template-columns:;
            grid-template-areas:
            "h"
            "1"
            "2"
            "3"
            "4"

        }
        .header{
            grid-area:h;
        }
        .d1{
            grid-area:1;
        }
        .d2{
            grid-area:2;
        }
        .d3{
            grid-area:3;
        }
        .d4{
            grid-area:4;
        }
        .cell{
            border-radius:1em;
            background-color: blanchedalmond;
            padding: 1.5rem;
        }
    </style>
</head>
<body>
    <div class="header cell">
        <h1>Are you a Doggologist?</h1>
    </div>
    <div class="d1 cell">
        <h3>Please title this creature:</h3>
                    <form action="">
                        <input type="radio" name="" id="">
                        <input type="radio" name="" id="">
                        <input type="radio" name="" id="">
                        <input type="radio" name="" id="">
                        <input type="submit" value="">
                    </form>
    </div>
    <div class="d2 cell">
            <h3>Please title this creature:</h3>
    </div>
    <div class="d2 cell">
            <h3>Please title this creature:</h3>
    </div>
    <div class="d4 cell">
            <h3>Please title this creature:</h3>
    </div>
</body>
</html>